@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #d3d3d4;
  --secondary-color: #f2f2f2;
  --submit-color: #2a6df4;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  font-size: 1rem;
}

.top {
  text-align: center;
}

.top h1 {
  margin: 1rem;
  font-size: 3rem;
}

.top-text p {
  margin: 0;
  padding: 0;
}

.top-text p:nth-child(2) {
  margin-top: 1vh;
  display: inline-block;
}

.top a {
  color: var(--submit-color);
}

.twitter,
.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  background-color: var(--secondary-color);
  border-radius: 3px;
  text-align: center;
}

form i {
  padding: 0;
  margin: 0;
  margin-right: 1ch;
}

.twitter:hover,
.facebook:hover {
  transition: 0.3s ease;
  transform: scale(0.98);
}

.form-container input:not(#notify) {
  border-radius: 5px;
  padding: 12px 15px;
}

.form-container input::placeholder {
  font-size: 1rem;
}

.form-container input:not(#notify, #submit) {
  border: solid var(--primary-color) 2px;
}

.form-container input:focus {
  outline: none;
}

form {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 2ch 1fr;
  grid-template-rows: 1fr 2ch 2ch 1fr 2ch 1fr 2ch 1fr 2ch 1fr 1fr 2ch;
  row-gap: 1rem;
}

form label {
  margin-top: 0.7rem;
}

form input {
  font-size: 1rem;
}

.twitter {
  grid-column: 1/2;
  grid-row: 1/2;
}

.facebook {
  grid-column: 3/4;
  grid-row: 1/2;
}

.form-container span:nth-of-type(1) {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 1.2rem;
}

#first-name-label {
  grid-column: 1/2;
  grid-row: 3/4;
}

#first-name {
  grid-column: 1/2;
  grid-row: 4/5;
}

#last-name-label {
  grid-column: 3/4;
  grid-row: 3/4;
}

#last-name {
  grid-column: 3/4;
  grid-row: 4/5;
}

#email-label {
  grid-column: 1/4;
  grid-row: 5/6;
}

#email {
  grid-column: 1/4;
  grid-row: 6/7;
}

#password-label {
  grid-column: 1/4;
  grid-row: 7/8;
}

#password {
  grid-column: 1/4;
  grid-row: 8/9;
}

form span:nth-of-type(2) {
  grid-column: 1/4;
  grid-row: 9/10;

  margin-top: -0.7rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: #868884;
}

.send-updates {
  grid-column: 1/4;
  grid-row: 10/11;

  margin: 1rem 0;
}

.send-updates input[type='radio'] {
  border-radius: 3px;
  border: 1px solid var(--primary-color);
  padding: 0.5em;
  margin-top: -3px;
  vertical-align: middle;
  -webkit-appearance: none;
}

#submit {
  grid-column: 1/4;
  grid-row: 11/12;

  color: #fff;
  background-color: var(--submit-color);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}

#submit:hover {
  background-color: #3781f4;
}

#submit:active {
  transform: scale(0.98);
}

#privacy-policy {
  grid-column: 1/4;
  grid-row: 12/13;

  margin: 0;
  text-align: center;
  color: #868884;
}

#privacy-policy a {
  color: var(--submit-color);
}

@media (max-width: 500px) {
  body {
    margin: 2rem 0;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2ch 2ch 1fr 2ch 1fr 2ch 1fr 2ch 1fr 2ch 1fr 1fr 2ch;
    row-gap: 1rem;
  }

  .twitter {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .facebook {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .form-container span:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 1.2rem;
    text-align: center;
  }

  #first-name-label {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  #first-name {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  #last-name-label {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  #last-name {
    grid-column: 1/2;
    grid-row: 7/8;
  }

  #email-label {
    grid-column: 1/2;
    grid-row: 8/9;
  }

  #email {
    grid-row: 9/10;
    grid-column: 1/2;
  }

  #password-label {
    grid-column: 1/2;
    grid-row: 10/11;
  }

  #password {
    grid-row: 11/12;
    grid-column: 1/2;
  }

  form span:nth-of-type(2) {
    grid-row: 12/13;
    grid-column: 1/2;

    margin-top: -0.7rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: #868884;
  }

  .send-updates {
    grid-column: 1/2;
    grid-row: 13/14;

    margin: 1rem 0;
  }

  .send-updates input[type='radio'] {
    border-radius: 3px;
    border: 1px solid var(--primary-color);
    padding: 0.5em;
    margin-top: -3px;
    vertical-align: middle;
    -webkit-appearance: none;
  }

  #submit {
    grid-row: 14/15;
    grid-column: 1/2;

    color: #fff;
    background-color: var(--submit-color);
    border: none;
    font-size: 1.5rem;
  }

  #privacy-policy {
    grid-row: 15/16;
    grid-column: 1/2;

    margin: 0;
    text-align: center;
    color: #868884;
  }
}
